version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: cocktail-mysql
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./init-db.sql:/docker-entrypoint-initdb.d/init-db.sql
    networks:
      - cocktail-network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  keycloak:
    image: quay.io/keycloak/keycloak:23.0
    container_name: keycloak
    environment:
      KC_DB: mysql
      KC_DB_URL: jdbc:mysql://mysql:3306/keycloak
      KC_DB_USERNAME: keycloak_user
      KC_DB_PASSWORD: keycloak_pass
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_HOSTNAME_STRICT: false
      KC_HTTP_ENABLED: true
      KC_HOSTNAME_STRICT_HTTPS: false
    ports:
      - "8080:8080"
    depends_on:
      mysql:
        condition: service_healthy
    networks:
      - cocktail-network
    command: start-dev

  cocktail-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: cocktail-app
    environment:
      SPRING_PROFILES_ACTIVE: docker
      KEYCLOAK_AUTH_SERVER_URL: http://keycloak:8080
    ports:
      - "8081:8081"
    depends_on:
      - keycloak
    networks:
      - cocktail-network

networks:
  cocktail-network:
    driver: bridge

volumes:
  mysql_data:
